<div class="row">
  <div class="col-md-12">
    <div id="home-news" class="carousel slide" data-ride="carousel">
      <a class="carousel-control-prev col-1" href="#home-news" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <div class="carousel-inner col-10">
        <div class="carousel-item active">
          <%= image_tag "img-news-0", class: 'd-block w-100', alt: 'First slide' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "img-news-1", class: 'd-block w-100', alt: 'First slide' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "img-news-2", class: 'd-block w-100', alt: 'First slide' %>
        </div>
      </div>
      <a class="carousel-control-next col-1" href="#home-news" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
  </div>
</div>