<aside id='aside-menu' class="sidebar" data-color="purple" data-background-color="black" data-turbolinks-permanent>
    <div class="logo"><a class="simple-text logo-normal">
        Serviços Detran
      </a></div>
    <div class="sidebar-wrapper">
      <ul class="nav accordion">
        <li class="nav-item active  ">
          <a class="nav-link">
            <i class="material-icons">dashboard</i>
            <p>Notícias</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" data-toggle="collapse" data-target="#drivers-collapse" aria-expanded="true" aria-controls="drivers-collapse">
            <i class="material-icons">content_paste</i>
            <p>Habilitação</p>
          </a>
          <ul class="collapse nav-item" id="drivers-collapse">
            <%= link_to drivers_check_punctuation_form_path, class: "nav-link", data: { turbolinks: 'false', no_turbolink: 'true' } do %>
              <p>Consultar Pontuação</p>
            <% end %>
            <%= link_to drivers_track_request_form_path, class: "nav-link", data: { turbolinks: 'false', no_turbolink: 'true' } do %>
              <p>Entrega da CNH</p>
            <% end %>
          </ul>
        </li>
        <li class="nav-item ">
          <a class="nav-link" data-toggle="collapse" data-target="#vehicles-collapse" aria-expanded="true" aria-controls="vehicles-collapse">
            <i class="material-icons">content_paste</i>
            <p>Veículos</p>
          </a>
          <ul class="collapse nav-item" id="vehicles-collapse">
            <%= link_to vehicles_negative_certificate_form_path, class: "nav-link", data: { turbolinks: 'false', no_turbolink: 'true' } do %>
              <p>Certidão Negativa</p>
            <% end %>
            <%= link_to vehicles_unlicensed_form_path, class: "nav-link", data: { turbolinks: 'false', no_turbolink: 'true' } do %>
              <p>Não licensiado</p>
            <% end %>
          </ul>
        </li>
        <li class="nav-item ">
          <a class="nav-link" data-toggle="collapse" data-target="#infractions-collapse" aria-expanded="true" aria-controls="infractions-collapse">
            <i class="material-icons">content_paste</i>
            <p>Infrações</p>
          </a>
          <ul class="collapse nav-item" id="infractions-collapse">
            <a class="nav-link">
              <p>Resultado</p>
            </a>
            <a class="nav-link">
              <p>Defesa de Autuação</p>
            </a>
          </ul>
        </li>
      </ul>
    </div>
</aside>